node_modules/
dist/
release/
data/
android/app/build/
android/.gradle/
android/captures/
android/build/
android/capacitor-cordova-android-plugins/build/
android/local.properties
*.apk
ios/App/build/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/Pods/
